
    <?php if (!empty($this->resourceResult)) : ?>
        <a href="<?= $this->resourceResult['link']?>">
            <div data-alert class="alert-box">
                <font color="#FFFFFF"><?= $this->resourceResult['title'] ?></font>
                <font color="#FFFFFF" size="1">
                    <br />
                    <?= nl2br($this->resourceResult['description']) ?>
                </font>
          <a href="#" class="close">&times;</a>
        </div></a>
    <?php endif ?>
    
    <script>
      (function() {
        var cx = '016785012790572851441:bt_esnunzww';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    
    <div class="large-12 columns">
        <gcse:searchresults-only></gcse:searchresults-only>
    </div>
        
    