
    <div class="large-12 columns">
        <div class="row">
            <div class="large-7 columns">
                <!-- Orbit slider gallery -->
                <ul data-orbit>
                    <?php foreach ($this->images as $image) : ?>
                        <li><img src="<?= $this->baseUrl($image['path']) ?>" /></li>
                    <?php endforeach ?>
                </ul>    
            </div>
            <div class="large-5 columns">
                <h3>Welcome</h3>
                <p>Activate WiFi now to enjoy the Virtual Visit and free internet access.</p>
                <!-- Tab section -->
                <div class="row">
                    <div class="large-12 columns">
                        <div class="media section-container tabs" data-section="tabs">
                            <section>
                                <p class="title" data-section-title><a href="#"><img src="/img/Logo_wifi.png" height="45" width="60"/></a></p>
                                <div class="content" data-section-content style="padding: 0px;">
                                    <!-- Form -->
                                    <form id="activateForm" name="Activate" action="http://192.168.88.1/_login.html" method="post">
                                        <div class="row collapse">
                                            <div class="large-8 columns">
                                                <label class="inline" style="padding: 1.4375em 0.4375em 0 0.9375em;">                  
                                                <input id="activateCheckbox" type="checkbox"> I accept the terms and conditions</label>
                                            </div>
                                        </div>
                                        <button id="activateBtn" type="submit" class="radius button" style="margin: 0 0 0.9375em 0.9375em;">Activate</button>
                                    </form>
                                </div>
                            </section>
                            <section>
                                <p class="title" data-section-title><a href="#">Terms and Conditions</a></p>
                                <div class="content" data-section-content>
                                    <div class="row">
                                        <div class="large-10 columns">
                                            <font size="2">
                                                <p>Welcome to Le Rendez-Vous Toyota's free Wi-Fi service.</p>
                                                <p>By activating this free Wi-Fi session, you will gain access to the Virtual Visit online showroom, and we will serve you content that matches your online interests.</p>
                                                <p>Analytics helps us to deliver our service. By using our service, you agree to our use of anonymous analytics related to your visit at this location.</p>
                                                <p>For security purposes your device identifier and IP number will be stored, also a filter blocks inappropriate sites.</p>
                                                <p>You are responsible for the protection of your own device and data transmissions over this public network. </p>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Content and Sidebar -->

    
    <!-- If winner -->
    <?php if ($this->isWinner) : ?>
        <script>
            $(document).ready(function () {
                    function show_popup(){
                        $('#msgModal').foundation('reveal', 'open');
                    };
                    window.setTimeout( show_popup, 3000 );
                    //$('#msgModal').foundation('reveal', 'open').delay(5000).fadeIn();
            });
        </script>
        
        <div class="reveal-modal" id="msgModal">
            <h4>Congratulations!</h4>
            <div>
                <p> Please show this message to the hostess for your prize.</p>
            </div>
            <div>
                <img src="/img/toyota_hybrid_cap.png" style="width: 100%; height: 100%;" />
            </div>
            <div class="panel">
                <p align="middle"><?= $this->generatedCode ?></p>
            </div>
            <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
            <a href="#" class="close-reveal-modal">&times;</a>
        </div>
    <?php endif ?>
    
    <script>
        $(document).ready(function(e){
            $('#activateForm').submit(function(e){
                if($('#activateCheckbox').prop('checked') === false) {
                    e.preventDefault();
                    alert('Please read and accept the "Terms and Conditions" before activating');
                }
            });      
        });
    </script>