
    <div class="row">
        <div class="large-12 columns">
            <?php if (!empty($this->pages)) : ?>
                <?php foreach($this->pages as $page) : ?> 
                    <?php // SHOW CERTAIN ZONE ?>
                    <?php if ($page['zone']['id'] == $this->show_zone_id) : ?>
                        <div class="large-4 left columns">
                            <a href="<?= (!empty($page['slug']))?'/page/'.$page['slug']:'/facebook/'.$page['facebook_id'] ?>">
                                <img src="<?= ($page['page_type'] == 'static')?$this->baseUrl($page['image']['path']):$page['image']['path'] ?>" />
                                <div class="panel" style="min-height: 130px;">
                                    <h4><?= $page['title'] ?></h4>
                                    <p><?= $page['zone']['name']?></p>
                                </div>    
                            </a>
                        </div>
                    <?php endif ?>
                <?php endforeach ?>
            <?php else : ?>
                <h3> No pages available </h3>
            <?php endif ?>
        </div>
        <div class="right">
            <a href="https://www.facebook.com/lerendezvoustoyota">
                <img src="/img/Logo_facebook.png"/ width="32">
            </a>
        </div>
    </div>      

