
    <?php if (!empty($this->page['resource'])) : ?>
        <a href="<?= $this->page['resource']['link']?>">
            <div data-alert class="alert-box">
                <font color="#FFFFFF"><?= $this->page['resource']['title'] ?></font>
                <font color="#FFFFFF" size="1">
                    <br />
                    <?= nl2br($this->page['resource']['description']) ?>
                </font>
          <a href="#" class="close">&times;</a>
        </div></a>
    <?php endif ?>
    
    <!-- GALLERY -->
    <?php if (isset($this->page['gallery']) && !empty($this->page['gallery'])) : ?>
        <div class="row">
            <div class="large-12 columns">
                <div id="featured" data-orbit>
                <?php foreach ($this->page['gallery'] as $image) : ?>
                    <img src="/<?= $image['path'] ?>" alt="slide image">
                <?php endforeach ?>
                </div>
            </div>
        </div>
    <?php endif ?>
    
    <!-- IMAGE -->
    <div class="row">
        <div class="large-12 columns">
            <div id="featured" data-orbit>
                <img src="<?= $this->page['image']['path'] ?>" alt="slide image">
            </div>
        </div>
    </div>

    <br />
    
    <!-- CONTENT -->
    <div class="row">
        <div class="large-12 columns">
            <div class="row">

                <!-- Content -->
                <div class="large-8 columns">
                    <div class="media section-container tabs" data-section="tabs">
                        <section>
                            <p class="title" data-section-title><a href="#">Post</a></p>
                            <div class="content" data-section-content>
                                <h4><?= $this->page['title'] ?></h4>
                                <hr/>
                                <p><?= $this->page['content'] ?></p>
                                <div align="left">
                                    <?php if( !empty($this->page['resource']) && $this->checkVideoEmbed($this->page['resource']['link']) ) : ?>
                                        <a href="#" data-reveal-id="msgModal" class="secondary small button">Learn more &rarr;</a>
                                    <?php endif ?>
                                </div>
                                <div class="show-for-small" align="right">                                                                                                                                                                          
                                    <div class="fb-like" data-href="https://www.facebook.com/lerendezvoustoyota/posts/<?= $this->page['facebook_id'] ?>" data-width="100" data-layout="button_count" data-show-faces="true" data-send="false"></div>
                                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                                </div>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">Comments</a></p>
                            <div class="content" data-section-content style="padding: 25px 15px 15px 15px;">
                               <?php if (isset($this->page['facebook']['comments'])) : ?>
                                    <?php foreach ($this->page['facebook']['comments']['data'] as $comment) : ?>
                                        <strong><?= $comment['from']['name'] ?></strong><br />
                                        <sub><?= date('Y-m-d H:m:s', strtotime($comment['created_time']))?></sub>
                                        <div class="divider">&nbsp;</div>
                                        <p><?= $comment['message'] ?></p>
                                        <hr />
                                    <?php endforeach ?>
                               <?php else : ?>
                                    <p>There are no comments for this post</p>
                               <?php endif ?>
                            </div>
                        </section>
                    </div>
                </div>
                   
                <!-- Share -->
                <div class="large-4 columns hide-for-small">
                    <h4>Share!</h4><hr/>
                    <p>
                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_pinterest_large' displayText='Pinterest'></span>
                        <span class='st_email_large' displayText='Email'></span>
                    </p>
                    <div class="fb-like" data-href="http://www.facebook.com/lerendezvoustoyota/posts/<?= $this->page['facebook_id'] ?>" data-width="100" data-layout="button_count" data-show-faces="true" data-send="false"></div>
                </div>

            </div>
        </div>
    </div>               

    <!-- STATIC -->
    <?php if( !empty($this->page['resource']) && $this->checkVideoEmbed($this->page['resource']['link']) ) :  ?>
        <div class="reveal-modal" id="msgModal">
            <h4>Watch or close to continue</h4>
            <div class="flex-video">
                <?= $this->getVideoEmbed($this->page['resource']['link'], 500, 300) ?>
            </div>
            <a href="#" class="close-reveal-modal">&times;</a>
        </div>
    <?php endif ?>

