
    <!-- Main Page Content -->
    <div class="large-12 columns">
        <div class="large-12 columns" align="right" style="display: none;">
            <a href="<?= $this->continue_url ?>" class="secondary small button">Continue &rarr;</a>
        </div>
        <div class="row">
            <div class="large-7 columns">
                <!-- Orbit slider gallery -->
                <ul data-orbit>
                  <?php foreach ($this->images as $image) : ?>
                        <li><img src="<?= $image['path'] ?>" /></li>
                  <?php endforeach ?>
                </ul>
            </div>
            <div class="large-5 columns">
              <h3>Thank you!</h3>
              <p>We hope you're enjoying your visit at Le Rendez-Vous Toyota.</p>
              <p><a href="http://www.toyota-europe.com/rendezvous"><img src="img/LRVT_FB.png" height="32" width="150" align="left"/></a></p>
            </div>
        </div>
  </div>