.top-bar .name h1 a {
    width: 85%;   
}
.white-color {
    color: #ffffff;
}
.small {
    font-size: 14px;
}
.smaller {
    font-size: 11px;
}
.mb5 {
    margin-bottom: 5px;
}
.img-resize {
    width: 100px;
    height: auto;
    overflow: hidden;
}
.img-resize img {
    width: auto;
    height: auto;    
}
.img-30 {
   width: 30px; height: 30px;
}
.ajax-loader {
    margin-left: 15px; display: none;
}
select {
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875em;
    margin: 0 0 1em 0;
    padding: 0.5em;
    height: 2.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.close-modal-btn {
    font-size:1.375em;
    line-height:1;
    position:absolute;
    top:0.5em;
    right:0.6875em;
    color:#aaa;
    font-weight:bold;
    cursor:pointer;
}
fieldset {
    border: solid 1px #eee;
}
.ul-radio-boxes li {
    display: inline;
    list-style-type: none;
}
.ul-radio-boxes label {
    display: inline;
    margin: 0 35px 0 0;
}
.ul-radio-boxes input {
    margin-right: 10px;
}
