<div class="row">
<div class="span3">
    <div class="row">
        <h4>Meniu</h4>

        <div class="well well-small" style="padding:12px 0;">
            <ul class="nav nav-list">
                <li>
                    <a href="#"><i class="icon-th-list icon-large"></i> Übersicht</a>
                </li>
                <li class="active">
                    <a href="#"><i class="icon-file icon-large"></i> Neues Packing</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="span9">
    <div class="row">
        <div class="span6">
            <label><strong>Grundflächen</strong>

            </label>
            <table class="table table-striped  table-hover table-condensed">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Anzahl</th>
                    <th>Abmaße</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="ID">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Count">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Width">X
                            <input class="span1" size="16" type="text" value="Height">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-mini"><i class="icon-trash">&nbsp;</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="ID">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Count">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Width">X
                            <input class="span1" size="16" type="text" value="Height">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-mini"><i class="icon-trash">&nbsp;</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <button class="btn btn-mini"><i class="icon-plus">&nbsp;</i>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <br/>
            <label><strong>Rechtecke</strong>

            </label>
            <table class="table table-striped  table-hover table-condensed">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Anzahl</th>
                    <th>Abmaße</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="ID">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Count">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Width">X
                            <input class="span1" size="16" type="text" value="Height">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-mini"><i class="icon-minus">&nbsp;</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="ID">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Count">
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <input class="span1" size="16" type="text" value="Width">X
                            <input class="span1" size="16" type="text" value="Height">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-mini"><i class="icon-minus">&nbsp;</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <button class="btn btn-mini"><i class="icon-plus">&nbsp;</i>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
        <div class="span3">
            <label><strong>Rotieren erlaubt?</strong>
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Ja
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Nein
            </label>
            <br/>
            <label><strong>Sortierung</strong>
            </label>
            <select class="input-medium">
                <option>Fläche (abst.)</option>
                <option>ID, abst.</option>
                <option>beste Lösung</option>
                <option>...</option>
            </select>
            <br/>
            <label><strong>Flächenkriterium</strong>
            </label>
            <select class="input-medium">
                <option>Best Fit</option>
                <option>...</option>
                <option>...</option>
                <option>...</option>
            </select>
            <br/>
            <label><strong>Schnittkriterium</strong>
            </label>
            <select class="input-medium">
                <option>kleinste Restkante</option>
                <option>größte Restkante</option>
                <option>...</option>
                <option>...</option>
            </select>
            <br/>
            <label><strong>Aktionen</strong>
            </label>
            <button class="btn btn-medium btn-success">Berechnen</button>
            <button class="btn btn-medium btn-warning">Schnittbild</button>

        </div>
    </div>
</div>
</div>
