<div id="changePasswordBox" class="span9">
    <form id="changePasswordForm" action="" method="post" class="my-form form-horizontal" autocomplete="off">
        <input type="hidden" name="id" value="<?php echo $this->id?>">
        <header>
            <h3>New Password</h3>
        <header>
        <div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-eye-close"></i>
                        </span>
                    <input id="inputPassword" type="password" name="password" value=""
                           placeholder="Password" autocomplete='off' required="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword2">Retype Password</label>
                <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-eye-close"></i>
                        </span>
                    <input id="inputPassword2" type="password" name="password2" value=""
                           placeholder="Password" autocomplete='off' required="">
                </div>
            </div>
            <?php if( $this->errorMessage ): ?>
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="alert-heading">Warning! </strong><?php echo $this->errorMessage?>
                </div>
            <?php endif ?>
        </div>
        <footer>
            <div class="controls">
                <a href="<?php echo $this->baseUrl('/auth')?>" class="btn btn-info">Login</a>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </footer>
    </form>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
$(function(){
    var changePasswordForm = $('#changePasswordForm');

    changePasswordForm.validate({
        errorElement: "span",
        rules: {
            password: {
                required: true,
                minlength: 8
            },
            password2: {
                required: true,
                equalTo: "#inputPassword"
            }
        }
    });

})
</script>
