<div id="forgotBox" class="span9">
    <form id="forgotForm" action="" method="post" class="my-form form-horizontal" autocomplete="off">
        <header>
            <h4>Forgot password</h4>
        <header>
        <div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls input-prepend">
                    <span class="add-on">
                        <i class="icon-envelope"></i>
                    </span>
                    <input id="inputEmail" type="text" name="email" value="<?php echo $this->email?>"
                         placeholder="Email" required=""/>
                </div>
            </div>
            <?php if( $this->errorMessage ): ?>
                <div class="alert">
                    <div data-alert class="alert-box">
                      Warning! </strong><?php echo $this->errorMessage?>
                      <a href="#" class="close">&times;</a>
                    </div>
                </div>
            <?php endif ?>
        </div>
        <footer>
            <div class="controls">
                <button type="submit" class="btn btn-primary">Reset Password</button>
                <a href="<?php echo $this->baseUrl('/auth')?>" class="btn btn-info">Login</a>
            </div>
        </footer>
    </form>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
$(function(){
    var forgotForm = $('#forgotForm');

    forgotForm.validate({
        errorElement: "span",
        rules:{
            email: {
                required:true,
                email: true
            }
        }
    });

})
</script>
