<div id="loginDiv">
    <form id="loginForm" action="" method="post" autocomplete="off">
        <header>
            <h4>Log In</h4>
        <header>
        <div>
            <div>
                <label for="inputUsername">Username</label>
                <input id="inputUsername" type="text" name="username" value="<?php echo $this->username?>"
                         placeholder="Username" autofocus />
                <span></span>
            </div>
            <div>
                <label for="inputPassword">Password</label>
                <input id="inputPassword" type="password" name="password" value=""
                           placeholder="Password" />
            </div>
            <div>
                <label class="checkbox">
                    <input id="rememberMe" type="checkbox" name="rememberMe"> Remember me
                </label>
            </div>
            <?php if( $this->errorMessage ): ?>
                <div data-alert class="alert-box alert round">
                  <b>Warning!</b> <?php echo $this->errorMessage?>
                  <a href="#" class="close">&times;</a>
                </div>
            <?php endif ?>
        </div>
        <footer>
            <button type="submit" class="button">Login</button>
        </footer>
    </form>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#loginForm").validate({
            errorElement: 'span',
            errorClass:'error',
            rules: {
                username: {
                    required:true,
                }
            }  
        });
    });
</script>
