<div id="registerBox" class="span9">
    <form id="registerForm" action="" method="post" class="my-form form-horizontal" autocomplete="off">
        <header>
            <h4>Register</h4>
        </header>
        <div>
            <fieldset>
                <legend>Autentificare</legend>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-envelope"></i>
                        </span>
                        <input id="inputEmail" type="text" name="email" value="<?php echo $this->email?>"
                               placeholder="Email" autocomplete='off' required="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-eye-close"></i>
                        </span>
                        <input id="inputPassword" type="password" name="password" value=""
                               placeholder="Password" autocomplete='off' required="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword2">Retype Password</label>
                    <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-eye-close"></i>
                        </span>
                        <input id="inputPassword2" type="password" name="password2" value=""
                               placeholder="Password" autocomplete='off' required="">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contact</legend>

                <div class="control-group">
                    <label class="control-label" for="inputFirstName">First Name*</label>
                    <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-user"></i>
                        </span>
                        <input id="inputFirstName" type="text" name="first_name" value="<?php echo $this->first_name?>"
                               placeholder="Prenume" autocomplete='off' required=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputLastName">Last Name*</label>
                    <div class="controls input-prepend">
                        <span class="add-on">
                            <i class="icon-user"></i>
                        </span>
                        <input id="inputLastName" type="text" name="last_name" value="<?php echo $this->last_name?>"
                               placeholder="Nume" autocomplete='off' required=""/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <script type="text/javascript">
                    var RecaptchaOptions = {
                        theme : 'white',
                        lang: 'en'
                    };
                </script>
                <div class="controls">
                    <?php echo recaptcha_get_html($this->recaptchaPublicKey, $this->recaptchaError); ?>
                </div>
            </fieldset>
            <?php if( $this->errorMessage ): ?>
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="alert-heading">Warning! </strong><?php echo $this->errorMessage?>
                </div>
            <?php endif ?>
        </div>
        <footer>
            <div class="controls">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </footer>
    </form>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
var validateEmailUrl = "<?php echo $this->baseUrl('/auth/validate-email')?>";
$(function(){
    var registerForm = $('#registerForm');

    registerForm.validate({
        errorElement: "span",
        rules: {
            email: {
                required: true,
                email: true,
                remote: {
                    url:  validateEmailUrl,
                    type: "post"
                }
            },
            password: {
                required: true,
                minlength: 8
            },
            password2: {
                equalTo: "#inputPassword"
            }
        },
        messages: {
            email: {
                remote : 'Email already exists !'
            }
        }
    });
})
</script>
