<form id="accountForm" action="" method="post">
    <header>
        <h4><i class="gen-enclosed foundicon-lock"> Change Password</i></h4>
    </header>
    <div>
        <div>
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" name="password" value=""
                placeholder="Password" />
            <span></span>
        </div>
        <div>
            <label for="inputPassword2">Retype Password</label>
            <input id="inputPassword2" type="password" name="password2" value=""
                placeholder="Password" />
            <span></span>
        </div>
    </div>
    <footer>
        <div>
            <button type="submit" class="button">Save</button>
        </div>
    </footer>
</form>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#accountForm").validate({
                errorElement: 'span',
                errorClass:'error',
                rules: {
                    password: {
                        required: true,
                        minlength: 6
                    },
                    password2: {
                        required: true,
                        minlength: 6,
                        equalTo: "#inputPassword"
                    }
                }  
        });
    });
</script>
