<form id="accountForm" action="" method="post">
    <header>
        <h4><i class="gen-enclosed foundicon-settings"> Account Settings</i></h4>
    </header>
    <div>
        <div>
            <label for="inputFirstName">First Name*</label>
            <input id="inputFirstName" type="text" name="first_name"
                value="<?php echo $this->first_name ?>"
                placeholder="Prenume" />
            <span></span>
        </div>
        <div>
            <label for="inputLastName">Last Name*</label>
            <input id="inputLastName" type="text" name="last_name"
                value="<?php echo $this->last_name ?>"
                placeholder="Nume" />
            <span></span>
        </div>
    </div>
    <footer>
        <div>
            <button type="submit" class="button">Save</button>
        </div>
    </footer>
</form>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#accountForm").validate({
                errorElement: 'span',
                errorClass:'error',
                rules: {
                    first_name: {
                        required: true,
                        minlength: 2
                    },
                    last_name: {
                        required: true,
                        minlength: 2
                    }
                }  
        });
    });
</script>
