<div class="message">
    <h2>Success</h2>

    <p>Your Account was deleted successfully. Click <a href="<?php echo $this->baseUrl('/')?>">here</a> to continue</p>
    <p class="signature">Thank you</p>
</div>

