<div class="message">
    <h2>Forgot Password</h2>

    <p>Shortly you will receive an email with instructions to reset your password.<br>
       Email will expire in 6 hours, don't forget to change your password !</p>
    <p class="signature">Thank you</p>
</div>

