<div class="message">
    <h2>Success</h2>

    <p>Thank You <strong><?php echo ucfirst($this->name)?></strong>. Your message was sent and we will get back to your shortly.</p>

    <p class="signature">Thank you</p>
</div>

