<div class="message">
    <h3 class="box strong center">You must be signed in to view this information,
        please <a href="<?php echo $this->baseUrl('/auth')?>">sign in</a> or
        <a href="<?php echo $this->baseUrl('/auth/signup')?>">signup</a> to proceed</h3>

   <br/>
   <br/>

</div>

<div class="clear"></div>
