<div class="message">
    <h2>An error occurred !</h2>

    <p>Cannot send Token by email. Click <br/>
       Click <a href="<?php echo $this->baseUrl('/auth/activate?token='.$this->token)?>">here</a> to activate your account</p>

    <p class="signature">Thank you</p>
</div>

