<div class="message">
    <h2>Confirmation Required</h2>

    <p>Shortly you will receive an email with instructions to activate your account.<br/>
       The activation links will expire in 6 hours, so don’t forget to activate your account right away</p>
    <p class="signature">Thank you</p>
</div>

