<div class="panel">
    <h4>Account Settings</h4>
    <p>Your account settings was changed successfully.<br />
        Click <a href="<?php echo $this->baseUrl('/admin')?>">here</a> to continue</p>
</div>

