<div class="panel">
    <h4>Change Password</h4>
    <p>Your password was changed successfully.  <br />
        Click <a href="<?php echo $this->baseUrl('/admin')?>">here</a> to continue</p>
</div>