<?= $this->doctype() ?>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Le Rendezvous Toyota</title>
        <link rel="stylesheet" href="/css/normalize.css">      
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/addon/general_foundicons.css">
        <link rel="stylesheet" href="/css/custom.css">
        <?= $this->headLink(); ?>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/vendor/custom.modernizr.js"></script>
        <?= $this->headScript(); ?>
    </head>
    <body>
    
        <!-- Top bar -->
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#"><img src="<?= $this->baseUrl('img/Logo_Wittos.png') ?>" height="32" width="32" /></a></h1>
                </li>
            </ul>
        </nav> 
        
        <!-- Login credentials -->
        <?php if( $this->getIdentity() !== null ): ?>
        <div class="large-12 columns">
            <div class="right">
                <strong>Username:</strong> <span><?= $this->getIdentity()->username ?></span>
            </div>
            <div class="left">
                <h4><a href="<?= $this->baseUrl('/admin')?>">Admin</a></h4>
            </div>
            <hr />
        </div>
        <?php endif ?>

        <!-- Menu -->
        <div class="large-12 columns">
            <?php if( $this->getIdentity() !== null ): ?>
            <div class="large-2 columns left">
                <ul class="side-nav">
                    <!--<li><h4><a href="<?= $this->baseUrl('/admin/gallery')?>"><i class="gen-enclosed foundicon-photo"> Gallery</i></a></h4></li>-->
                    <li><h4><a href="<?= $this->baseUrl('/admin/pages')?>"><i class="gen-enclosed foundicon-page"> Pages</i></a></h4></li>
                    <li><h4><a href="<?= $this->baseUrl('/admin/resources')?>"><i class="gen-enclosed  foundicon-search"> Resources</i></a></h4></li>
                    <li><h4><a href="<?= $this->baseUrl('/admin/codes')?>"><i class="gen-enclosed  foundicon-inbox"> Codes</i></a></h4></li>
                    <li><h4><a href="<?= $this->baseUrl('/admin/settings')?>"><i class="gen-enclosed  foundicon-tools"> Settings</i></a></h4></li>
                    <li class="divider"></li>
                    <li><h4><a href="<?= $this->baseUrl('/account')?>"><i class="gen-enclosed foundicon-settings"> Account Settings</i></a></h4></li>
                    <li><h4><a href="<?= $this->baseUrl('/account/change-password')?>"><i class="gen-enclosed foundicon-lock"></i> Change Password</a></h4></li>
                    <li class="divider"></li>
                    <li><h4><a href="<?= $this->baseUrl('/auth/logout')?>"><i class="gen-enclosed foundicon-error"> Logout</i></a></h4></li>
                </ul>
            </div>
            <div class="large-10 columns right">
            <?php endif ?>
                <?=  $this->layout()->content ?>
            <?php if( $this->getIdentity() !== null ): ?>
            </div>
            <?php endif ?>
        </div>

        <script>
            document.write('<script src=/js/vendor/' +
                ('__proto__' in {} ? 'zepto' : 'jquery') +
                '.js><\/script>')
        </script>
        <script src="/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

    </body>
</html>
