<?php
    
    $url = $this->url();
    $controllerName = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
    $actionName = Zend_Controller_Front::getInstance()->getRequest()->getActionName();

?>
<?= $this->doctype() ?>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Le Rendezvous Toyota</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.css">
        <link  rel="stylesheet" href="/addon/general_foundicons.css">
        <link  rel="stylesheet" href="/css/custom.css">
        <?= $this->headLink(); ?>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/vendor/custom.modernizr.js"></script>
        <?= $this->headScript(); ?>
        
        <!-- Sharethis -->
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "43ef9c9e-4765-4e6d-af5e-98a16ed4a637", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        
        <script type="text/javascript">
            function googleSearch(){
                var av=document.getElementById("searchText").value;
                if(av!="")
                    window.location.replace("gcs.html?q=" + av);
                //window.open("gcs.html?q=" + av)
                else
                    alert("Please enter search text!");
            }
        </script>
              
    </head>
    <body>
        
        <!-- Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=275657152514947";
                    fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#"><img src="/img/Logo_Toyota.png" height="32" width="32" /></a></h1>
                </li>
                <?php if ($url != '/' && $url != '/welcome') : ?>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>   
                <?php endif ?>
            </ul> 
            <?php if ($this->hideMenu !== true) : ?>
                
                <section class="top-bar-section">
                    <!-- Left Nav Section -->

                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li>
                            <a href="https://www.facebook.com/lerendezvoustoyota"><img src="/img/fb_mini.png" /></a>
                        </li>
                        <li class="divider hide-for-small"></li>
                        <?php if (!empty($this->menuLocations)) : ?>
                            <?php foreach ($this->menuLocations as $zone_id => $menuLocation) : ?>
                                <li class="has-dropdown"><a href="#"><?= $menuLocation['zone']['name'] ?></a>
                                    <ul class="dropdown">
                                        <?php if (!empty($menuLocation['categories'])) : ?>
                                            <?php foreach ($menuLocation['categories'] as $category_id => $category) : ?>   
                                               <!--<li class="has-dropdown"><a href="#"><?= $category['title'] ?></a>
                                                   <ul class="dropdown">-->
                                                        <?php if (!empty($category['pages'])) : ?>
                                                             <?php foreach ($category['pages'] as $page) : ?>
                                                                <li><a href="<?= (!empty($page['slug']))?'/page/'.$page['slug']:'/facebook/'.$page['facebook_id'] ?>"><?= $page['title'] ?></a></li>
                                                             <?php endforeach ?>
                                                        <?php endif ?>
                                                   <!--</ul>
                                               </li>-->
                                           <?php endforeach ?>
                                        <?php endif ?>
                                        <li class="divider"></li>
                                        <li><a href="/menu">HOME &rarr;</a></li>
                                    </ul>
                                </li>
                            <?php endforeach ?>
                            <li class="divider"></li>
                        <?php endif ?>
                        <li class="has-form">
                            <form action="/gcs" method="get">
                                <div class="row collapse">
                                    <div class="small-8 columns">
                                        <input type="text" id="searchText" name="q" placeholder="Enter search here" value="<?= $this->q ?>" />
                                    </div>
                                    <div class="small-4 columns">
                                        <button type="submit" class="alert button">search</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                  </section>
                
            <?php endif ?>
        </nav> 

        <!-- Layout content -->
        <?=  $this->layout()->content ?>
        <!-- End content -->

        <!-- Footer -->
        <footer class="row">
            <div class="large-12 columns">
                <hr />
                <div style="vertical-align: middle;">
                    <img height="22px" width="72px" src="/img/Logo_Wittos.png"/> <font color="#999999">|</font> 
                    <a href="http://www.wittos.com/wificomments.html">Contact Us</a>
                </div>
                <br />
            </div>
        </footer>
        <!-- End Footer -->
        
        <script>
            document.write('<script src=/js/vendor/' +
                ('__proto__' in {} ? 'zepto' : 'jquery') +
                '.js><\/script>')
        </script>
        <script src="/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

    </body>
</html>
