<div class="stmail">
    <?php $user = $this->user; /**@var $user Model_User */ ?>
    <h2><?php echo $user->getFirstName() ?></h2>
    <div>&nbsp;</div>
    <div>Please follow the link below to reset your password.</div>
    <div>To reset your password click <A href="<?php echo $this->domain.'/auth/change-password?token='.$this->token; ?>">here</A></div>
    <div>&nbsp;</div>
    <div>If the link doesn't work copy and paste the following link in your browser: </div>
    <div>&nbsp;</div>
    <div><?php echo $this->domain.'/auth/change-password?token='.$this->token; ?></div>
    <div>&nbsp;</div>
    <div>You received this e-mail because someone (hopefully you) requested a password reset.</div>
    <div>If you DID NOT request a reset of your password simply ignore this e-mail as the link will expire in 6 hours.</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>Thanks,</div>
    <div>&nbsp;</div>
</div>