<div class="stmail">
    <?php $user = $this->user; /**@var $user Model_User */ ?>
    <h2>Dear <?php echo $user->getFirstName() ?></h2>
    <div>&nbsp;</div>
    <div>Please follow the link to activate account. The link will expire in 6 hours.</div>
    <div>&nbsp;</div>
    <div>To activate click <A href="<?php echo $this->domain.'/auth/activate?token='.$this->token; ?>">here</A></div>
    <div>&nbsp;</div>
    <div>If the link doesn't work copy and paste the following link in your browser:</div>
    <div>&nbsp;</div>
    <div><?php echo $this->domain.'/auth/activate?token='.$this->token; ?></div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>Thanks</div>
    <div>&nbsp;</div>
</div>