<div class="large-12 columns">
    <div class="row">
        <h3>Oops!</h3>
        <p>Something went wrong ... </p>
        <p>Please try again or return to the <a href="/?cp=1">homepage</a></p>
        
        <?php if (isset($this->exception)): ?>
            <h3>Exception information:</h3>
            <p><b>Message:</b> <?php echo $this->exception->getMessage() ?></p>
            <h3>Stack trace:</h3>
            <pre><?php echo $this->exception->getTraceAsString() ?></pre>
            <h3>Request Parameters:</h3>
            <pre><?php echo var_export($this->request->getParams(), true) ?>
            </pre>
        <?php endif ?>
    </div>
</div>
            