<nav class="top-bar">
    <ul class="title-area inline-list">
        <li class="divider">&nbsp;</li>
        <li class="name">
            <a href="?filter=pending" class="button" style="color:#fff;">Pending</a>
        </li>
        <li class="divider">&nbsp;</li>
        <li class="name"><h4><a href="?filter=all">All</a></h4></li>
        <li class="divider">&nbsp;</li>
        <li class="name"><h4><a href="?filter=today">Today</a></h4></li>
        <li class="divider">&nbsp;</li>
        <li class="name"><h4><a href="?filter=accepted">Accepted</a></h4></li>
        <li class="divider">&nbsp;</li>
        <li class="name"><h4><a href="?filter=rejected">Rejected</a></h4></li>
        <li class="divider">&nbsp;</li>
    </ul>
</nav>

<?php if (!empty($this->codes)) : ?>
    <table class="responsive large-12">
        <thead>
            <th>#</th>
            <th>Code</th>
            <th>Status</th>
            <th>Date Created</th>
            <?php if($this->filter == 'pending') : ?>
                <th></th>
                <th></th>
            <?php endif ?>
        </thead>    
        <tbody>
        <?php foreach($this->codes as $code) : ?>
            <tr>
                <td><?= $code['id'] ?></td>
                <td><?= $code['code'] ?></td>
                <td><?= $code['status'] ?></td>
                <td><?= $code['date_created'] ?></td>
                <?php if($this->filter == 'pending') : ?>
                    <td><a href="?filter=<?= $this->filter ?>&id=<?= $code['id'] ?>&status=accepted"><img src="/img/accept.png" /></a></td>
                     <td><a href="?filter=<?= $this->filter ?>&id=<?= $code['id'] ?>&status=rejected"><img src="/img/reject.png" /></a></td>
                <?php endif ?>
            </tr>
        <?php endforeach ?>        
        </tbody>
    </table>
<?php else : ?>
    <p>There are no codes by <i>'<?= $this->filter ?>'</i></p>
<?php endif ?>