<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $("#getFacebookBtn").bind('click',function(){
            $('.ajax-loader').show();  
        })
    });
</script>
<style>
.ui-datepicker {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 93.5%;
}
</style>

<div class="responsive large-12">
    <div class="large-3 columns">
        <h4><i class="gen-enclosed foundicon-page"> Pages Facebook</i></h4>
    </div>
    <div class="large-9 columns">
        <form action="/admin/get-facebook-feed" method="post" id="getFacebookForm">
            <div class="small-3 columns">
                <label for="dateFrom">From: </label>
                <input type="text" id="dateFrom" name="dateFrom" value="<?= $this->dateFromTxt ?>" class="datepicker" readonly="readonly"  />
            </div>
            <div class="small-3 columns">
                <label for="dateTo">To: </label>
                <input type="text" id="dateTo" name="dateTo" value="<?= $this->dateToTxt ?>" class="datepicker" readonly="readonly" />
            </div>
            <div>
                <label>&nbsp;</label>
                <button type="submit" name="get-facebook" id="getFacebookBtn" class="small button"><i class="general foundicon-down-arrow"> Get Facebook Feed </i></button>
                <img src="/img/ajax-loader.gif" alt="" class="ajax-loader" />
            </div>
        </form>
    </div>
</div>
<?php if (!empty($this->pages_facebook)) : ?>
    <table class="responsive large-12">
        <thead>
            <th>Image</th>
            <th>Title</th>
            <th># Facebook ID</th>
            <th>Category</th>
            <th>Keyword</th>
            <th>Publish Date</th>
            <th>Status</th>                
            <th>Edit</th>
            <th>Delete</th>
        </thead>    
        <tbody>
        <?php foreach($this->pages_facebook as $page) : ?>
            <tr>
                <td>
                    <div class="img-resize">
                        <img src="<?= $page['image']['path_thumb'] ?>" />
                    </div>
                </td>
                <td><?= !is_null($page['title'])?$page['title']:'- not set -' ?></td>
                <td><a href="http://www.facebook.com/lerendezvoustoyota/posts/<?= $page['facebook_id'] ?>" target="_blank"><?= $page['facebook_id'] ?></a></td>
                <td><?= isset($page['category']['title'])?$page['category']['title']:'- not set -' ?></td>
                <td><?= !is_null($page['keyword'])?$page['keyword']:'- not set -' ?></td>
                <td><?= $page['date_created'] ?></td>
                <td><?= $page['status'] ?></td>
                <td><a href="/admin/page-modify?id=<?= $page['id'] ?>"><img src="<?= $this->baseUrl('/img/edit.png')?>" class="img-30" /></a></td>
                <td><a href="/admin/delete?table=pages&id=<?= $page['id'] ?>"><img src="/img/delete.png" /></a></td>
            </tr>
        <?php endforeach ?>        
        </tbody>
    </table>
<?php else : ?>
    <h5>There are no facebook pages </i></h5>
<?php endif ?>
