<form id="pageModifyForm" action="" method="post">
    <header>
        <h4><i class="gen-enclosed  foundicon-page"><?= ($this->type == 'add')?'Add':'Edit' ?> Page </i></h4>
    </header>
    <fieldset>
        <legend>Select</legend>
        <div>    
            <ul class="ul-radio-boxes"><li>
                <?= $this->formRadio("status",!is_null($this->page['status'])?$this->page['status']:'',array('tabindex' => '1', 'autofocus' => 'autofocus'),$this->statusSelect,"</li>\n<li>"); ?>
            </li></ul>
            <span></span>
        </div>
        <div>
            <label for="title">Title</label>
            <input tabindex="2" type="text" id="title" name="title" value="<?= $this->page['title'] ?>" placeholder="Enter title ..." />
            <span></span>
        </div>
        <div>
            <label for="category_id">Category</label>
            <?= $this->formSelect("category_id",!is_null($this->page['category_id'])?$this->page['category_id']:'',array('tabindex' => '3'), $this->categoriesSelect) ?>     
            <span></span>
        </div>
        <div>
            <label for="keyword">Keyword</label>
            <input tabindex="4" type="text" id="keyword" name="keyword" value="<?= $this->page['keyword'] ?>" placeholder="Enter keyword ..." />
            <span></span>
        </div>
    </fieldset>
    <footer>
        <div>    
            <input tabindex="5" type="submit" id="submit" name="submit" value="<?= ($this->type == 'add')?'Add':'Edit' ?>" class="button" />
            <img src="/img/ajax-loader.gif" alt="" class="ajax-loader" />
        </div>
    </footer>
</form>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    
        $.validator.addMethod("KEYWORD_RULE", function(value, element) {
            return this.optional(element) || /^[a-zA-Z0-9\s\-]+$/.test(value);
        }, "Keyword must contain alphanumeric characters and spaces only");
        
        $("#pageModifyForm").validate({
                errorElement: 'span',
                errorClass:'error',
                rules: {
                    title: {
                        required: true,
                        minlength: 2
                    },
                    category: {
                        required: true,
                        minlength: 2
                    },
                    keyword: "required KEYWORD_RULE",
                    status: {
                        required: true
                    }
                }  
        });
        
        $('#pageModifyForm').submit(function(e){
            
            if ($('#pageModifyForm').valid()) {
                $('#submit').hide();
                $('.ajax-loader').show();   
            } else {
                e.preventDefault();
            }
        });
            
    });
</script>