<form id="resourceModifyForm" action="" method="post">
    <header>
        <h4><i class="gen-enclosed  foundicon-search"><?= ($this->type == 'add')?'Add':'Edit' ?> Resource </i></h4>
    </header>
    <fieldset>
        <legend>Select</legend>
        <div>    
            <ul class="ul-radio-boxes"><li>
                <?= $this->formRadio("status",!is_null($this->resource['status'])?$this->resource['status']:Table_Resources::STATUS_ACTIVE,array('tabindex' => '1', 'autofocus' => 'autofocus'),$this->statusSelect,"</li>\n<li>"); ?>
            </li></ul>
            <span></span>
        </div>
        <div>
            <label for="category_id">Category</label>
            <?= $this->formSelect("category_id",!is_null($this->resource['category_id'])?$this->resource['category_id']:'',array('tabindex' => '2'), $this->categoriesSelect) ?>     
            <span></span>
        </div>
        <div>
            <label for="feed_type">Feed Type</label>
            <?= $this->formSelect("feed_type",!is_null($this->resource['feed_type'])?$this->resource['feed_type']:'',array('tabindex' => '3'), $this->feedTypeSelect) ?> 
            <span></span>
        </div>
        <div>
            <label for="feed_lang">Feed Lang</label>
            <?= $this->formSelect("feed_lang",!is_null($this->resource['feed_lang'])?$this->resource['feed_lang']:'',array('tabindex' => '4'), $this->feedLangSelect) ?>
            <span></span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Content</legend>
        <div>
            <label for="keyword">Keyword</label>
            <input tabindex="8" type="text" id="keyword" name="keyword" value="<?= $this->resource['keyword'] ?>" placeholder="Enter keyword ..." />
            <span></span>
        </div>
        <div>
            <label for="link">Link</label>
            <input tabindex="5" type="text" id="link" name="link" value="<?= $this->resource['link'] ?>" placeholder="Enter link ..." />
            <span></span>
        </div> 
        <div>
            <label for="title">Title</label>
            <input tabindex="9" type="text" id="title" name="title" value="<?= $this->resource['title'] ?>" placeholder="Enter title ..." />
            <span></span>
        </div>
        <div>    
            <label for="description">Description</label>
            <textarea tabindex="10" id="description" name="description" placeholder="Enter description ..."><?= $this->resource['description'] ?></textarea>
            <span></span>
        </div>
    </fieldset>
    <footer>
        <div>    
            <input tabindex="11" type="submit" id="submit" name="submit" value="<?= ($this->type == 'add')?'Add':'Edit' ?>" class="button" />
            <img src="/img/ajax-loader.gif" alt="" class="ajax-loader" />
        </div>
    </footer>
</form>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    
        $.validator.addMethod("LINK_RULE", function(value, element) {
            return this.optional(element) || /^(https?\:\/\/)?([a-zA-Z0-9\-\.]+)\.([a-zA-Z]{2,3})\/(.*?)$/.test(value);
        }, "Please add valid URL");
        
        $.validator.addMethod("KEYWORD_RULE", function(value, element) {
            return this.optional(element) || /^[a-zA-Z0-9\s\-]+$/.test(value);
        }, "Keyword must contain alphanumeric characters and spaces only");
       
        $("#resourceModifyForm").validate({
                errorElement: 'span',
                errorClass:'error',
                rules: {
                    status: {
                        required: true
                    },
                    category_id: {
                        required: true
                    },
                    feed_type: {
                        required: true
                    },
                    feed_lang: {
                        required: true
                    },
                    keyword: "required KEYWORD_RULE",
                    link: "required LINK_RULE",
                    title: {
                        required: true,
                        minlength: 2
                    }
                }
            });
       
        $('#resourceModifyForm').submit(function(e){
            
            if ($('#resourceModifyForm').valid()) {
                $('#submit').hide();
                $('.ajax-loader').show();   
            } else {
                e.preventDefault();
            }
        });
        
    });
</script>