<header>
    <a href="/admin/resource-modify" class="small button right"><i class="general foundicon-plus"> Add Resource </i></a>
    <h4 class="pull-left"><i class="gen-enclosed  foundicon-search"> Resources List</i></h4>
</header>
<?php if (!empty($this->resources)) : ?>
    <table class="responsive large-12">
        <thead>
            <th>#</th>
            <th>Title</th>
            <th>Link</th>
            <th>Category</th>
            <th>Keyword</th>
            <th>Feed Type</th>
            <th>Feed Lang</th>
            <th>Publish Date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>    
        <tbody>
        <?php foreach($this->resources as $resource) : ?>
            <tr>
                <td><?= $resource['id'] ?></td>
                <td><?= $resource['title'] ?></td>
                <td><a href="<?= $resource['link'] ?>" target="_blank"><?= substr($resource['link'],0,25).'...' ?></a></td>
                <td><?= $resource['category']['title'] ?></td>
                <td><?= $resource['keyword'] ?></td>
                <td><?= $resource['feed_type'] ?></td>
                <td><?= $resource['feed_lang'] ?></td>
                <td><?= $resource['date_created'] ?></td>
                <td><?= $resource['status'] ?></td>
                <td><a href="/admin/resource-modify?id=<?= $resource['id'] ?>"><img src="/img/edit.png" /></a></td>
                <td><a href="/admin/delete?table=resources&id=<?= $resource['id'] ?>"><img src="/img/delete.png" /></a></td>
            </tr>
        <?php endforeach ?>        
        </tbody>
    </table>
<?php else : ?>
    <h5>There are no resources available</i></h5>
<?php endif ?>

    