<form id="settingsForm" action="" method="post">
    <header>
        <h4><i class="gen-enclosed foundicon-tools"> Settings</i></h4>
    </header>
    <div>
        <label for="counter_number">Number of visits (counter)</label>
        <input tabindex="1" autofocus="autofocus" type="text" id="counter_number" name="counter_number" value="<?= $this->counter_number ?>" />
        <span></span>
    </div>
    <div>
        <label for="show_zone_id">Show Zone</label>
        <?= $this->formSelect("show_zone_id",$this->show_zone_id,array("tabindex" => "2"), $this->zonesSelect) ?>     
        <span></span>
    </div>
    <?php if (!empty($this->success)) : ?>
        <div class="alert-box success round" data-alert>
            Settings modified successfully !
            <a class="close" href="">×</a>
        </div>
        <script>
            $(document).ready(function(){
                var t = setTimeout(function(){$('.alert-box').hide('medium');}, 2000);    
            })
        </script>
    <?php endif ?>
    <footer>
        <div>
            <input tabindex="3" type="submit" id="submit" name="submit" value="Save" class="button" />
            <img src="/img/ajax-loader.gif" alt="" class="ajax-loader" />
        </div>
    </footer>
</form>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
    $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Only numbers accepted"
    );
    
    $(document).ready(function() {
        $("#settingsForm").validate({
                errorElement: 'span',
                errorClass:'error',
                rules: {
                    counter_number: {
                        required: true,
                        minlength: 1
                    }
                }  
        });
        $('#counter_number').rules("add", { regex: "[0-9]+" });
        
        $('#settingsForm').submit(function(e){
            
            if ($('#settingsForm').valid()) {
                $('#submit').hide();
                $('.ajax-loader').show();   
            } else {
                e.preventDefault();
            }
        });
    });
</script>